@import "../../../../assets/styles/variables";

.blog {
  .container {
    .blog-title {
      padding-top: 80px;
      color: $light-blue-color;
      font-family: "Lora", sans-serif;
      font-size: 38px;
      font-weight: 400;
      margin-bottom: 40px;
    }

    .filters {
      display: flex;
      justify-content: space-between;

      .filter-selected {
        display: flex;

        .filter-selected-title {
          border: 2px solid $light-blue-color;
          padding: 8px 20px;
          border-radius: 5px;
          box-sizing: border-box;
          margin-right: 10px;
          display: flex;
          align-items: center;

          span {
            font-size: 16px;
            color: $light-blue-color;
            margin-right: 8px;
          }
        }

        a {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .filter-select {
        position: relative;
        width: 148px;
        cursor: pointer;

        .filter-select-head {
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          align-items: center;

          .filter-title {
            font-size: 16px;
            margin-right: 8px;
            padding: 12px 0 12px 23px;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }

        &.open {
          background-color: #b9d5fd;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          width: 257px;
          position: relative;
          box-sizing: border-box;

          img {
            padding-right: 23px;
          }

          .filter-select-body {
            display: flex;
            flex-direction: column;

            img {
              padding-right: 0;
            }
          }
        }

        .filter-select-body {
          position: absolute;
          z-index: 4;
          width: 257px;
          background-color: #ffffff;
          border: 2px solid #b9d5fd;
          box-sizing: border-box;
          display: none;

          .filter-select-item {
            padding-left: 23px;
            padding-top: 17px;
            padding-right: 23px;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            color: #bebebe;

            &.active {
              color: $dark-blue-color;
            }

            &:last-child {
              padding-bottom: 17px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }

            .plus {
              font-size: 24px;
              color: #bebebe;
            }

            .minus {
              font-size: 24px;
              color: $dark-blue-color;
            }
          }
        }
      }
    }

    .articles-items {
      display: grid;
      grid-template-columns: repeat(4, 291px);
      grid-row-gap: 40px;
      grid-column-gap: 24px;
      margin: 40px 0;
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 120px;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          opacity: 0.5;
        }
      }

      .pagination-pages {
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        align-items: center;

        .pagination-page {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          width: 34px;
          height: 46px;
          margin-right: 20px;
          cursor: pointer;
          font-size: 20px;
          color: $dark-blue-color;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1390px) {
  .blog {
    .container {

      .articles-items {
        grid-template-columns: repeat(2, 291px);
        grid-column-gap: 200px;
        justify-content: center;
        
      }
    }
  }
}


@media only screen and (max-width: 960px) {
  .blog {
    .container {

      .articles-items {
        grid-column-gap: 100px;
      }
    }
  }
}

@media only screen and (max-width: 890px) {
  .blog {
    .container {

     
    }
  }
}


@media only screen and (max-width: 890px) {
  .blog {
    .container {

      .filters {
        
  
        .filter-selected {
          display:grid;
          grid-template-columns: repeat(2, 150px);
          grid-gap: 20px;
        
  
          .filter-selected-title {
           margin:0;
           justify-content: space-between;
  
            span {
              font-size: 14px;
              
            }
          }
  
          a {
        
            img {
              width: 14px;
              height: 14px;
            }
          }
        }
  
        .filter-select {
          position: relative;
          width: 148px;
          cursor: pointer;
  
          .filter-select-head {
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            align-items: center;
  
            .filter-title {
              font-size: 16px;
              margin-right: 8px;
              padding: 12px 0 12px 23px;
            }
  
            img {
              width: 20px;
              height: 20px;
            }
          }
  
          &.open {
        
            width: 200px;
          
            img {
            }
  
            .filter-select-body {
              
  
              img {
                
              }
            }
          }
  
          .filter-select-body {
            
            width: 200px;
      
  
            .filter-select-item {
             
              font-size: 14px;
          
  
              &.active {
                color: $dark-blue-color;
              }
  
              &:last-child {
             
              }
  
              .plus {
                font-size: 18px;
                color: #bebebe;
              }
  
              .minus {
                font-size: 18px;
            
              }
            }
          }
        }
      }

     

      .articles-items {
        grid-column-gap: 50px;
        grid-template-columns: repeat(1, 291px);
        
      }
    }
  }
}


@media only screen and (max-width: 608px) {
  .blog {
    .container {

      .filters {
        flex-direction: column;
        align-items: center;

  
        .filter-selected {
          margin-bottom: 20px;
       

        
  
          .filter-selected-title {
            
  
            span {
              font-size: 12px;
              
            }
          }
  
          a {
        
            img {
             
            }
          }
        }
  
        .filter-select {
        
  
          
  
        
  
          .filter-select-body {
           
  
            .filter-select-item {
             
  
          
  
              .plus {
              
              }
  
              .minus {
               
              }
            }
          }
        }
      }

     

      .articles-items {
        grid-column-gap: 50px;
        grid-template-columns: repeat(1, 291px);
        
      }

      .pagination{

        .pagination-pages{

          .pagination-page {
            font-size:16px;
           
          }

        }
      }
      
    }
  }
}


@media only screen and (max-width: 608px) {
  .blog {
    .container {

      .filters {
        flex-direction: column;
        align-items: center;

  
        .filter-selected {
          margin-bottom: 20px;
          grid-template-columns: repeat(1, 160px);

        }
      }
    }
  }
}
