@import "variables";


.auth {
  padding-top: 120px;
  padding-bottom: 120px;
  .container {
    display: flex;
    justify-content: space-between;



    .auth-form {

      .auth-title {
        font-size: 36px;
        font-family: 'Lora', sans-serif;
        margin-bottom: 40px;
        font-weight: 400;
        color:$light-blue-color;


      }

      .auth-inputs {
        margin-bottom: 40px;

        .auth-input {
          margin-bottom: 5px;


          input {
            width: 422px;
            box-sizing: border-box;
            border: 2px solid $light-blue-color;
            padding: 17px 20px;

          }

          label {
            font-size: 14px;
            color: #A8ABA7;
          }
        }



        .auth-checkbox {

          margin-top: 10px;
          display: flex;
          align-items: baseline;

          input{
            margin-top: 4px;
            margin-right: 10px;
          }

          label {
            width: 398px;
            color: #071739;

            a {
              color: $light-blue-color;
            }
          }
        }
      }

      .auth-button {
        margin-bottom: 10px;

        button {
          width: 422px;
          padding: 15px 0;
          font-size: 16px;
        }
      }

      .auth-link {
        a {
          text-decoration: none;
          color: $light-blue-color;
          cursor: pointer;
        }
      }
    }
    .auth-img {
    }
  }
}

