@import "variables";

.articles-item {
  position: relative;
  width: 292px;
  height: 571px;

  .articles-item-image {
    margin-bottom: 15px;
    position: relative;
    height: 291px;
    width: 291px;
    background-size: cover;
    background-position: center;


    .article-item-category {
      position: absolute;
      padding: 10px 18px;
      color: $light-blue-color;
      background-color: #FFFFFF;
      border-radius: 5px;
      top: 10px;
      right: 9px;
    }
  }

  .articles-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 20px;
    color: $light-blue-color;
  }

  .articles-item-description {
    width: 287px;
    font-size: 14px;
    line-height: 18px;
    color: $dark-blue-color;

  }

  .articles-item-link {
    font-size: 16px;
    cursor: pointer;
    color: $light-blue-color;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    left: 0;
    a:visited {
      color: $light-blue-color;
    }
  }
}


