@import "variables";


.auth {
  padding-top: 120px;
  padding-bottom: 120px;
  height: 50vh; // добавил что бы страница логина была на весь экран, а то она по высоте не на весь экран была по макету
  .container {
    display: flex;
    justify-content: space-between;

    .auth-form {

      .auth-title {
        font-size: 36px;
        font-family: 'Lora', sans-serif;
        margin-bottom: 40px;
        font-weight: 400;
        color: $light-blue-color;

      }

      .auth-inputs {
        margin-bottom: 40px;

        .auth-checkbox {
          margin-top: 10px;
          display: flex;
          align-items: baseline;

          label {
            width: 398px;
            color: $dark-blue-color;

            a {
              color: $light-blue-color;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }

      .auth-button {
        margin-bottom: 10px;

        button {
          width: 422px;
          padding: 15px 0;
          font-size: 16px;
        }
      }

      .auth-link {
        a {
          text-decoration: none;
          color: $light-blue-color;
          cursor: pointer;
        }
      }
    }
  }
}

