@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;


}

.container {
  width: 1240px;
  margin: 0 auto;

}


.btn {
  color: #FFFFFF;
  font-size: 16px;
  padding: 15px 33px;
  background-color: $light-blue-color;
  border-radius: 5px;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;


  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

input {
  width: 422px;
  box-sizing: border-box;
  border: 2px solid $light-blue-color;
  padding: 17px 20px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  width: 14px;
}

label {
  font-size: 14px;
  color: #A8ABA7;

}

.error-message {
  color: red;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  width: 422px;
}


.multiline-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.description {
  line-clamp: 6;
  -webkit-line-clamp: 6;
}

.title {
  line-clamp: 4;
  -webkit-line-clamp: 4;
}


.owl-nav {
  display: none;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;

  .owl-dot span {
    background: transparent;
    border: 1px solid #FFFFFF;

  }
}


.owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, owl-dot.active span {
  background: white;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: white;
}


.owl-carousel {



 .owl-item .banner-img {
    width: 750px;
   height: 500px;
   position: absolute;
   z-index: -1;
   right: 50%;
   top: 0;
    left: 40%;
 }
}


.mat-button {
  padding: 15px 33px !important;
  line-height: inherit !important;
  border-radius: 5px !important;
}


i {
  font-size: 14px;
  line-height: 18.2px;
  color: $dark-blue-color;


}

h1, h3 {
  font-size: 20px;
  font-weight: 500;
  color: $light-blue-color;
}

p {
  line-height: 18.2px;
  color: $dark-blue-color;

  b {
    font-weight: 500;
  }
}

